
/* =============================font style=============================  */
    
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');
body{
font-family: 'Work Sans', sans-serif;
}
/* ================================
                                whole header style
                                              =========================================== */
/* header style */
.header{
    width: 1920px;
    height: 1322px;
background-color: rgba(255, 144, 14, 0.1);
}
/* nav styles  */
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 50px 240px 0 228px;
}
.nav-title{
    width: 302px;
height: 53px;

font-family: 'Work Sans';
font-weight: 700;
font-size: 45px;

color: #131313;
padding-right: 673px;
}
.nav-button{
    margin-top: 45px;
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
    width: 477px;
height: 26px;
align-items: center;
color: #424242;
}

/*====================== header-banner styles ======================= */
.header-adv-details{
    width: 862px;
    height: 225px;
    margin: 44px 526px 32px 526px;
}
.header-adv-title{
height: 141px;
    font-weight: 700;
    font-size: 64px;
text-align: center;
color: #131313;
}

.header-adv-description{
    width: 868px;
height: 52px;

font-family: 'Work Sans';
font-weight: 400;
font-size: 16px;
text-align: center;
color: #727272;
}
.explore-button{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
font-weight: 600;
font-size: 20px;
text-align: center;
color: #FFFFFF;
padding: 21px 24px;
}
.header-adv-button{
margin: 0 870px 50px 870px;
}
 /* banner-description and banner image ============================================== */
 .header-advertisement{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 /* banner-image style  */
 .header-adv-image{
    margin: 0px 240px 45px 240px;
 }

 .header-adv-image{
    width: 1440px;
height: 700px;
 }

 /* quick list styles */
 .quick-list-container{
    display: flex;
 }
 
 .quick-image-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
   width: 708px;
   padding: 85px 73px 130px 301px;
 }
 .quick-list-info{
    width: 537px;
height: 304px;
padding: 287px 301px 332px 0px;
 }

 .features-description{
    width: 537px;
height: 78px;
font-weight: 400;
font-size: 16px;
color: #727272;
margin-bottom: 32px;
 }
 .bold{
    font-weight: 700;
font-size: 45px;
color: #131313;
 }
 .quick-list-title{
    width: 468px;
height: 106px;
font-weight: 500;
font-size: 45px;
color: #727272;
margin-bottom: 24px;
 }
 .orange{
    font-weight: 700;
font-size: 45px;
color: #FF900E;
 }

 /* loving features style ============ */
 .features-details{
    padding: 0 54px 168px 240px;
    width: 586px;
height: 982px;
 }
 .container{
    width: 586px;
height: 171px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 30px 42px 30px 30px;
margin-bottom: 20px;
 }
 .version-title{
    width: 252px;
height: 23px;
font-weight: 600;
font-size: 20px;

color: #131313;
 }
 .features-description{
    color: #727272;
 }
 .for-vertical{
    display: flex;
    gap: 21px;
    align-items: center;
 }
.head h2{
    width: 468px;
height: 106px;
font-weight: 700;
font-size: 45px;
align-items: center;
color: #131313;
}
 .vertical-line{
    width: 5px;
height: 106px;
align-items: center;
background: #FF900E;
mix-blend-mode: darken;
 }
.loving-features-container{
    display: flex;
    gap: 146px;
}
.features-image{
    width: 800px;
height: 1059px;
padding: 130px 240px 0 54px;
}
.features-image img{
    width: 708px;
height: 982px;
    
}
.last{
    
    width: 342px;
height: 200px;
background: #FF900E;
border-radius: 8px;
}
 
 
